/*  Bitte schreibe eine HTML-Struktur die dem Bild von der nächsten Folie entspricht
Denke daran, dass die Struktur von oben nach unten und von links nach rechts aufgebaut ist
Denke daran semantische Elemente zu verwenden
Füge so viel Styling hinzu wie du kannst und nutze Pseudo-Selectors
Google-Fonts: Open Sans, sans-serif; Fredericka the Great, cursive
*/

*{
    margin: 0;
    padding: 0;
}